.session-expiration .modal-overlay {
    background: rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: 1004; /* Higher than LoadingScreen */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.15s ease-in-out, visibility 0s linear 0.15s;
}
.session-expiration .modal-overlay.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.15s ease-in-out;
}
.session-expiration .modal-container {
    background: var(--neutral-color-medium);
    width: 75vw;
    max-width: 500px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    padding: 1rem;
}
.session-expiration .icon-bg {
    background: #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.session-expiration .icon-bg svg {
    color: var(--accent-color);
    transform: scale(0.95);
    font-size: 1.5rem;
    opacity: 0.8;
}
.session-expiration .modal-title {
    font-size: 1.5rem;
    color: var(--accent-color);
}
.session-expiration .modal-content {
    margin: 0.5rem 0 1.5rem;
    text-align: center;
    color: var(--neutral-color-dark);
}
.session-expiration .modal-content p {
    display: inline-block;
}
.session-expiration .btn-container {
    display: flex;
    gap: 0.75rem;
    padding-right: 11px; /* Offset due to different lengths of each button content */
}
.session-expiration .btn-container button {
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid var(--accent-color);
}
.session-expiration .btn-container .cancel-btn {
    background: var(--neutral-color-light);
    color: var(--accent-color);
    opacity: 0.8;
}
.session-expiration .btn-container .confirm-btn {
    background: var(--accent-color);
    color: var(--neutral-color-light);
    opacity: 0.9;
}
.session-expiration .btn-container button:hover {
    font-weight: 500;
    opacity: 1;
}

@media (max-width: 485px) {
    .session-expiration .modal-container {
        width: 85vw;
    }
}
@media (max-width: 430px) {
    .session-expiration .modal-content p {
        display: block;
    }
    .session-expiration .modal-content p:first-of-type {
        margin-bottom: 0.1rem;
    }
}

/* © 2025 Pitipat Pattamawilai. All Rights Reserved. */