.blog-page {
    padding: 3rem 8rem 6rem;
    min-height: calc(100vh - 80px + 40px); /* Make copyright footer off screen on short content pages */
    position: relative; /* Reference for copyright and back-to-top button positioning */
}

/* Comments section */
.blog-page .comments {
    padding: 2rem 0 0.5rem;
}
.blog-page .comments.no-children {
    padding: 1rem 0 0.5rem;
}

@media (max-width: 768px) {
    .blog-page {
        padding: calc(3rem + 3px) 6rem 6rem; /* top -> menu icon spacing */
        position: relative;
        min-height: calc(100vh + 40px); /* Make copyright footer off screen on short content pages */
    }
}
@media (max-width: 672px) {
    .blog-page {
      padding-inline: 5rem;
    }
}
@media (max-width: 560px) {
    .blog-page {
        padding-inline: 4rem;
        padding-top: calc(3.5rem + 3px);
    }
}
@media (max-width: 480px) {
    /* Blog padding-inline = 4rem / Comment padding-inline = 3.5rem */
    .blog-page {
        padding-inline: 3.5rem;
    }
    .blog-page .blog-content {
        padding-inline: 0.5rem;
    }
    .blog-page .add-comment {
        padding-inline: 0.5rem;
    }
}
/* Fix ReplyInput making Comment overflow */
@media (max-width: 425px) {
    /* Blog padding-inline = 3.5rem / Comment padding-inline = 3rem */
    .blog-page {
        padding-inline: 3rem;
    }
}
@media (max-width: 412px) {
    /* Blog padding-inline = 3.5rem / Comment padding-inline = 2.5rem */
    .blog-page {
        padding-inline: 2.5rem;
    }
    .blog-page .blog-content {
        padding-inline: 1rem;
    }
    .blog-page .add-comment {
        padding-inline: 1rem;
    }
}
@media (max-width: 392px) {
    /* Blog padding-inline = 3.5rem / Comment padding-inline = 2rem */
    .blog-page {
        padding-inline: 2rem;
    }
    .blog-page .blog-content {
        padding-inline: 1.5rem;
    }
    .blog-page .add-comment {
        padding-inline: 1.5rem;
    }
}
@media (max-width: 375px) {
    /* Blog padding-inline = 3rem / Comment padding-inline = 1.5rem */
    .blog-page {
        padding-inline: 1.5rem;
    }
}

/* © 2025 Pitipat Pattamawilai. All Rights Reserved. */