.back-to-top-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 2rem;
    bottom: -2rem;
    font-size: 1.4rem;
    padding: 0.75rem 0.25rem;
    background-color: var(--neutral-color-light);
    color: var(--accent-color);
    border: 1px solid var(--neutral-color-heavy);
    border-radius: 17px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    z-index: 4; /* Higher than comment setting button */
    pointer-events: none;
    opacity: 0;
}
.back-to-top-btn.show {
    bottom: 2.5rem;
    pointer-events: all;
    opacity: 0.75;
    transition: bottom 0.3s ease-out, opacity 0.5s ease-out;
}

@media (max-width: 768px) {
    .back-to-top-btn {
        padding-block: 0.9rem;
    }
}

/* © 2025 Pitipat Pattamawilai. All Rights Reserved. */