.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertically center sections when screen width is over 1512px */
    /* Positioning context for Footer */
    position: relative;
    padding-bottom: 24px; /* Prevent Footer from overlapping gradient in Reminder */
}
.landing-page section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* © 2025 Pitipat Pattamawilai. All Rights Reserved. */