.explore {
  padding: 2rem 8rem 6rem;
  min-height: 100dvh; /* Make copyright footer off screen on short content page */
  position: relative; /* Reference for copyright and back-to-top button positioning */
}

@media (max-width: 768px) {
  .explore {
    padding: calc(0.5rem + 43px + 0.5rem) 5rem 6rem; /* padding-top = Tooltip spacing */
  }
}
@media (max-width: 560px) {
  .explore {
    padding-inline: 4rem;
  }
}
@media (max-width: 490px) {
  .explore {
    padding-inline: 3rem;
  }
}
@media (max-width: 389px) {
  .explore {
    padding-inline: 2rem;
  }
}

/* © 2025 Pitipat Pattamawilai. All Rights Reserved. */