.comment-input{
    display: flex;
    align-items: center;
    border: 1px solid var(--neutral-color-heavy);
    background: linear-gradient(to bottom, #fff, var(--neutral-color-light));
    padding: 0.5rem 2rem 0.5rem 1rem;
    position: relative;
}
.comment-input.comment-textarea{
    border-radius: 0 0.25rem 0.25rem 0.25rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}
.comment-input.reply-textarea{
    border-radius: 19px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0.5rem 0 0.25rem 1rem;
}
.comment-input textarea{
    flex: 1;
    font-size: 1rem;
    outline: none;
    resize: none;
    border: none;
    overflow-y: auto;
}
.comment-input.comment-textarea textarea{
    max-height: 150px;
}
.comment-input.reply-textarea textarea{
    max-height: 80px;
    padding-right: 0.75rem; /* Prevent scroll bar from overlapping content */
}
.comment-input .send-button{
    color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    border: none;
    opacity: 0.75;
    font-size: 1rem;
    position: absolute;
    right: 0.5rem;
    bottom: 0.6rem;
}
.comment-input .send-button:hover{
    opacity: 1;
}

/* © 2025 Pitipat Pattamawilai. All Rights Reserved. */