/* Mobile-first design (375px width) */
.FeatureSection .container{
    width: 100%;
    height: 100%;
    padding-top: 2.5rem;
    border-bottom: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    overflow: hidden;
}
.FeatureSection #feature-headline{
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--accent-color);
    padding-left: 3rem;
}
.FeatureSection #feature-headline .brandname{
    background: linear-gradient(to right, var(--accent-color), var(--secondary-color), var(--primary-color));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.FeatureSection .feature-wrapper{
    display: flex;
    gap: 1.5rem;
    width: fit-content;
    height: 475px; /* Prevents panel from stretching .feature-wrapper and pushing scroll dots down when content has more lines */
}
/* Feature panels */
.FeatureSection .feature-panel{
    min-width: 100vw;
    padding-block: 2rem;
    border-radius: 0.75rem;
    border: 1px solid rgba(101, 92, 85, 0.3);
    box-shadow: 0 0 8px 2px rgba(188, 184, 177, 0.3);
}
.FeatureSection .feature-visual{
    margin-bottom: 2rem;
}
.FeatureSection .feature-visual video{
    display: block;
    width: 100%;
    height: auto;
    pointer-events: none;
    /* border-radius: 0.5rem; */
    /* border: 1px solid rgba(101, 92, 85, 0.15); */
}
.FeatureSection .feature-content{
    padding-inline: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.FeatureSection .feature-content .feature-subtitle{
    font-size: 1.4rem;
    color: var(--accent-color);
}
.FeatureSection .feature-content .feature-body{
    font-size: 1rem;
    color: var(--neutral-color-dark);
}
.FeatureSection .scroll-progress{
    align-self: center;
    display: flex;
    gap: 8px;
    background-color: rgba(101, 92, 85, 0.1);
    border: 0.5px solid rgba(101, 92, 85, 0.1);
    border-radius: 20px;
    padding: 12px 18px;
}
.FeatureSection .scroll-progress .scroll-dot{
    width: 8px;
    height: 8px;
    background-color: rgba(101, 92, 85, 0.5);
    border: 0.5px solid rgba(101, 92, 85, 0.5);
    border-radius: 4px;
    transition: width 300ms ease-out;
}
.FeatureSection .scroll-progress .scroll-dot.active{
    width: 28px;
}

/* © 2025 Pitipat Pattamawilai. All Rights Reserved. */