:root{
    --max-screen-width: 1512px;
    --max-screen-height: 900px;
}
.LandingPage{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.LandingPage section{
    height: calc(100vh - 80px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Stacked Layout */
@media (max-width: 1081px) {
    .LandingPage section{
        height: auto;
    }
}

/* © 2025 Pitipat Pattamawilai. All Rights Reserved. */