.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100dvh - var(--navbar-height));
}
.login .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 70vw;
    max-width: 425px;
    padding: 3rem 0.25rem;
    border: 1px solid rgba(170, 170, 170, 0.5);
    border-radius: 0.5rem;
    background-color: var(--neutral-color-medium);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.login .headline {
    font-weight: 700;
    text-align: center;
    color: var(--accent-color);
}
.login form {
    width: 65vw;
    max-width: 400px;
    padding-inline: 2rem;
}
.login .form-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.login .form-group label {
    margin-bottom: 0.5rem;
    user-select: none;
    color: var(--neutral-color-dark);
    opacity: 0.7;
}
.login .form-group input {
    font-size: 1.1rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--neutral-color-heavy);
    border-radius: 0.25rem;
    outline: none;
    background: linear-gradient(to bottom, #fff, var(--neutral-color-light));
    width: 55vw;
    max-width: 100%;
}
.login .login-btn {
    display: block;
    margin-inline: auto;
    width: 80px;
    padding: 0.5rem;
    font-size: 1rem;
    color: var(--neutral-color-light);
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 0.25rem;
    outline: none;
    cursor: pointer;
    opacity: 0.9;
    user-select: none;
}
.login .login-btn:hover {
    font-weight: 500;
    opacity: 1;
}
/* Error messages */
.login .form-group.error input {
    border: 1px solid red;
}
.login .form-group.error small {
    color: red;
    margin-top: 0.1rem;    
}
/* Show and hide password */
.login .password-frame {
    width: 100%;
    position: relative;
}
.login .password-frame .password-field {
    padding-right: calc(1rem + 1.1rem + 0.75rem);
}
.login .password-frame .password-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    height: 100%;
    padding: 0 1rem 0 0.75rem;
    font-size: 1.1rem;
    color: var(--accent-color);
    cursor: pointer;
    opacity: 0.7;
}
.login .password-frame .password-icon:hover {
    opacity: 1;
}
.login .signup-link {
    user-select: none;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.login .signup-link p {
    opacity: 0.7;
}
.login .signup-link a {
    color: var(--accent-color);
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 768px) {
    .login {
        min-height: 100dvh;
    }
}
@media (max-width: 608px) {
    .login form {
        width: 100%;
    }
    .login .form-group input {
        width: 100%;
    }
}
@media (max-width: 480px) {
    .login .container {
        width: 80vw;
    }
    .login form {
        padding-inline: 1.5rem;
    }  
}
@media (max-width: 400px) {
    .login .container {
        width: 85vw;
    }
}
@media (max-width: 345px) {
    .login form {
        padding-inline: 1rem;
    }  
    .login .signup-link {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

/* © 2025 Pitipat Pattamawilai. All Rights Reserved. */