.blog-snippet {
    padding: 1.5rem 1.5rem;
    border-bottom: 1px solid var(--primary-color);
    border-radius: 0.25rem 0.25rem 0 0;
}
.blog-snippet .title h2 {
    display: inline-block; /* Prevent excessive clickable area */
    font-weight: 900;
    color: var(--accent-color);
    overflow-wrap: anywhere; /* Break long titles when needed */
    word-break: break-word; /* Fallback */
}
.blog-snippet a {
    text-decoration: none;
    color: var(--accent-color);
    cursor: pointer;
}
.blog-snippet .content-container {
    margin: 0.5rem 0 0.75rem;
    color: var(--neutral-color-dark);
    max-height: 132px;
    position: relative; /* For placing fade-overlay absolutely */
    overflow: hidden;
    overflow-wrap: anywhere;
    word-break: break-word;
}
.blog-snippet .content-container .section {
    margin-bottom: 0.25rem;
}
.blog-snippet .content-container .section-subtitle {
    font-weight: 500;
    opacity: 0.7;
    font-size: 1.08rem;
    white-space: pre-line; /* Preserve \n visually */
}
.blog-snippet .content-container .section-content {
    opacity: 0.7;
    font-size: 1rem;
    white-space: pre-line;
}
.blog-snippet .content-container .fade-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem;
    background: linear-gradient(to bottom, rgba(250, 250, 250, 0), rgba(250, 250, 250, 1));
    pointer-events: none;
}
.blog-snippet .footer {
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
}
.blog-snippet .footer .author {
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
}
.blog-snippet .footer .created-date {
    opacity: 0.7; 
    color: var(--neutral-color-dark);
}
/* Pinned blogs */
.blog-snippet .pin-icon {
    font-size: 0.8em;
    margin-right: 0.5rem;
}

/* © 2025 Pitipat Pattamawilai. All Rights Reserved. */