.content-editor {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.content-editor .textarea-container {
    position: relative;
}
.content-editor .extend-toggle {
    position: absolute;
    bottom: 0.2rem;
    right: 0.2rem;
    z-index: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: var(--accent-color);
    opacity: 0.8;
}
.content-editor .extend-toggle:hover {
    opacity: 1;
}

/* TipTap */
.content-editor .textarea-container.extended .tiptap {
    height: calc(100vh - 200px);
    transition: height 150ms ease-out;
}

@media (max-width: 768px) {
    .content-editor .extend-toggle {
        width: 44px;
        height: 44px;
        bottom: 0;
        right: 0;
    }
}

/* © 2025 Pitipat Pattamawilai. All Rights Reserved. */