/* Basic editor styles */
.tiptap {
  :first-child {
    margin-top: 0;
  }
  /* Paragraph styles */
  p {
    font-size: 1.1rem;
  }
  /* List styles */
  ul, 
  ol {
    padding: 0 1rem;
    margin: 0.75rem 1rem 0.75rem 0.4rem;
    
    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }
  /* Heading styles */  
  h1 {
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
  }
}
.text-editor {
  border: 1px solid var(--neutral-color-heavy);
  border-radius: 0.25rem;
  overflow: scroll;
}
.tiptap {
  font-size: 1.1rem;
  padding: 1rem;
  border-top: 1px solid var(--neutral-color-heavy);
  outline: none;
  background: linear-gradient(to bottom, #fff, var(--neutral-color-light));
  height: 40vh;
  width: 100% ;
  transition: height 150ms ease-out;
  overflow: scroll;
}
.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.4rem;
}
.menu-bar .button-group {
  display: flex;
  gap: 0.75rem;
}
.menu-bar button {
  font-size: 1rem;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer; 
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-color);
  opacity: 0.8;
  position: relative;
}
.menu-bar .paragraph-btn svg {
  transform: scale(1.2);
}
.menu-bar button:hover {
  opacity: 0.9;
}
.menu-bar button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(138, 129, 124, 0.1);
  border-radius: 0.25rem;
}
.menu-bar button.active {
  opacity: 0.9;
}
.menu-bar button.active::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(138, 129, 124, 0.25);
  border-radius: 0.25rem;
}

@media (max-width: 768px) {
  .menu-bar {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(44px, 1fr));
    grid-template-rows: auto;
    place-items: center;
  }
  .menu-bar .button-group {
    gap: 0;
  }
  .menu-bar button {
    width: 44px;
    height: 44px;
  }
  .menu-bar .button-group:first-child {
    display: contents; /* Let child buttons inherit grid layout */
  }
  .menu-bar .button-group:last-child {
    display: contents;
  }
}
@media (max-width: 570px) {
  .menu-bar {
    grid-template-columns: repeat(5, minmax(44px, 1fr));
  }
  .menu-bar .button-group:last-child::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(170, 170, 170, 0.5);
    grid-column: 1 / -1;
    grid-row: 2;
  }
}
@media (max-width: 340px) {
  .menu-bar {
    grid-template-columns: repeat(auto-fit, minmax(44px, 1fr))
  }
}

/* © 2025 Pitipat Pattamawilai. All Rights Reserved. */