.alert {
    position: fixed;
    bottom: 3rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1005; /* Highest level */
}
.alert .message {
    padding: 0.7rem 2rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.alert .message span {
    font-size: 17px;
    color: var(--neutral-color-dark);
}
.alert .message.success {
    background-color: var(--success-color-light);
}
.alert .message.success svg {
    color: var(--success-color);
}
.alert .message.error {
    background-color: var(--error-color-light);
}
.alert .message.error svg {
    color: var(--error-color);
    transform: scale(1.15);
}
.alert .message svg {
    align-self: center;
    margin-left: 0.3rem;
}

@media (max-width: 340px) {
    .alert .message {
        font-size: 0.9rem;
    }
}

/* © 2025 Pitipat Pattamawilai. All Rights Reserved. */