.tooltip {
    position: absolute;
    white-space: nowrap;
    top: 50%;
    left: 110%;
    background: rgba(70, 63, 58, 0.77);
    color: var(--neutral-color-light);
    font-weight: 500;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none; /* Prevents accidental interaction when hidden */
}
.tooltip.show {
    opacity: 1;
    visibility: visible;
}

/* © 2025 Pitipat Pattamawilai. All Rights Reserved. */