.profile {
    padding-bottom: 2.5rem;
}
.profile .container {
    width: 90vw;
    margin-inline: auto;
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
 }
.profile header {
    margin-top: 1.5rem;
    text-align: center;
}
.profile .username {
    color: var(--accent-color);
    font-weight: 700;
}
.profile .email {
    color: var(--neutral-color-dark);
    opacity: 0.5;
}
.profile main {
    width: clamp(300px, 70vw, 600px);
    padding-block: 1rem;
    display: grid;
    grid-template-columns: 1fr; /* Small devices show only single column */
    gap: 1.5rem;
}
.profile .profile-card {
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: var(--neutral-color-medium);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}
.profile .profile-card.link {
    text-decoration: none;
    cursor: pointer;
}
/* Has no blogs */
.profile.no-blog main {
    grid-template-columns: 1fr; /* Always one column */
    width: clamp(300px, 60vw, 500px);
    padding-inline: 0; /* Prevent overriding of .profile main @1024px */
}
.profile.no-blog .profile-card {
    text-align: center;
    padding-bottom: 1.5rem;
}
.profile.no-blog .profile-card a {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.1rem;
    color: var(--accent-color);
}
.profile.no-blog .profile-card p {
    margin-block: 0.5rem;
    font-size: 1rem;
    color: var(--neutral-color-dark);
    opacity: 0.7;
}
/* Modify BlogSnippet */
.profile .blog-snippet {
    padding: 0;
    border: none;
    /* Ensure .footer stays at the bottom */
    height: 100%;
    display: flex;
    flex-direction: column;
}
.profile .blog-snippet .title h2 {
    font-size: 1.1rem;
    font-weight: 700;
}
.profile .blog-snippet .content-container {
    margin: 0.5rem 0;
    max-height: 68px; /* Default when there's only one column in a row */
}
.profile .blog-snippet .content-container .section-subtitle {
    font-size: 1.04rem;
}
.profile .blog-snippet .content-container .fade-overlay {
    background: linear-gradient(to bottom, rgba(241, 241, 241, 0), rgba(241, 241, 241, 1));
    height: 2rem;
}
.profile .blog-snippet .footer {
    margin-top: auto;
}
.profile .blog-snippet .footer .author, 
.profile .blog-snippet .footer .separator {
    display: none;
}

@media (max-width: 374px) {
    .profile main {
        width: 280px;
        padding-inline: 0;
    }
}
@media (min-width: 1024px) {
    .profile main {
        grid-template-columns: repeat(2, 1fr); /* Large devices show 2 columns if having multiple blogs */
        width: 80vw;
        padding-inline: 1rem;
    }
    .profile main.single-blog {
        grid-template-columns: 1fr;
        width: 600px;
    }
}

/* © 2025 Pitipat Pattamawilai. All Rights Reserved. */