.Alert{
    position: fixed;
    bottom: 2.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1002; /* Same level as sessionExpired modal */
}
.Alert .message{
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
    border-radius: 0.25rem;
}
.Alert .message.success{
    background-color: #d9e0d3;
}
.Alert .message.success svg{
    color: #3a5a40;
}
.Alert .message.error{
    background-color: #f2e9e4;
}
.Alert .message.error svg{
    color: #9e2a2b;
    transform: scale(1.15);
}
.Alert svg{
    align-self: center;
    margin-left: 0.3rem;
}

/* Responsive Design */
@media (max-width: 340px) {
    .Alert .message{
        font-size: 0.9rem;
    }
}

/* © 2025 Pitipat Pattamawilai. All Rights Reserved. */