.Form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2.5rem 8rem 4rem;
    align-items: center;
}
.Form h2{
    font-weight: 700;
    text-align: center;
    color: var(--accent-color);
}
.Form form{
    width: 100%;
}
.Form form>div{
    margin: 1rem 0 1.25rem;
    display: flex;
    flex-direction: column;
}
.Form form input{
    font-size: 1.1rem;
    padding: 0.5rem 0.75rem;
    margin-top: 0.5rem;
    border: 1px solid var(--neutral-color-heavy);
    border-radius: 0.25rem;
    outline: none;
    background: linear-gradient(to bottom, #fff, var(--neutral-color-light));
}

/* Resize textarea */
.Form form .textarea-container{
    position: relative;
}
.Form form .textarea-container .sizing{
    position: absolute;
    bottom: 0.25rem;
    right: 0.25rem;
    z-index: 5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}
.Form form .textarea-container .sizing svg{
    color: var(--accent-color);
    opacity: 0.8;
}
.Form form .textarea-container button:hover svg, .Form form .textarea-container .sizing:hover svg{
    opacity: 1;
}
.Form form .textarea-container.extend #text-editor{
    height: calc(100vh - 200px);
    transition: height 150ms ease-out;
}
.Form form label{
    display: flex;
    color: var(--secondary-color);
    font-weight: 600;
    gap: 0.2rem;
}
.Form form label.bold{
    font-weight: 700;
}
.Form form label svg{
    color: var(--secondary-color);
    transform: scale(0.6);
    align-self: center;
}

/* Buttons */
.Form form footer.button-group{
    justify-self: center;
    display: flex;
    gap: 1.25rem;
    padding-top: 0.75rem;
}
.Form .btn{
    font-size: 1rem;
    width: 120px;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    outline: none;
    border-radius: 0.25rem;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    background: var(--neutral-color-light);
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.Form .btn.post{
    background: var(--accent-color);
    color: var(--neutral-color-light);
    opacity: 0.9;
}
/* Button labels */
.Form .btn label{
    font-weight: 400;
    color: var(--accent-color);
    cursor: pointer;
}
.Form .btn.savedraft label{
    white-space: nowrap;
}
.Form .btn.post label{
    color: var(--neutral-color-light);
}
/* Button icons */
.Form .btn .icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Save draft icon */
.Form .btn.savedraft{
    gap: 0.4rem;
}
.Form .btn.btn.savedraft .icon svg{
    transform: scale(1.08);
    margin-bottom: 1px;
}
/* Preview icon */
.Form .btn.preview .icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Form .btn.preview .icon::after{ /* background for replacing an icon with eye one */
    content: "";
    background: var(--neutral-color-light);
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 50%;
    z-index: 1;
}
.Form .btn.preview .icon::before{
    content: "";
    background: var(--neutral-color-light);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    z-index: 1;
}
.Form .btn.preview .icon .eye{
    position: absolute;
    font-size: 0.85rem;
    top: -25%;
    right: -40%;
    transform: translate(-5%, 5%);
    z-index: 2;
    overflow: visible;
}
.Form .btn.preview{
    gap: 0.7rem;
}
/* Previewing */
.Form .btn.preview.previewing{
    background: var(--accent-color);
    color: var(--neutral-color-light);
    opacity: 0.9;
}
.Form .btn.preview.previewing label{
    color: var(--neutral-color-light);
}
/* Hover state */
.Form .btn:hover, .Form .btn.preview.previewing:hover{
    opacity: 1;
}
.Form .btn:hover label{
    font-weight: 500;
}

/* Responsive Design */
@media (min-width: 1100px) {
    .Form{
        padding-inline: 9rem;
    }
}
@media (min-width: 1200px) {
    .Form{
        padding-inline: 10rem;
    }
}
@media (min-width: 1300px) {
    .Form{
        padding-inline: 11rem;
    }
}
@media (min-width: 1360px) {
    .Form form{
        max-width: 1000px;
    }
}

@media (max-width: 972px) {
    .Form{
        padding-inline: 7rem;
    }
}
@media (max-width: 860px) {
    .Form{
        padding-inline: 6rem;
    }
}
@media (max-width: 768px) {
    .Form{
        padding-inline: 5rem;
    }
    .Form form .textarea-container .sizing{
        width: 44px;
        height: 44px;
        bottom: 0;
        right: 0;
    }
}
@media (max-width: 602px) {
    .Form{
        padding-inline: 4rem;
    }
}
@media (max-width: 528px) {
    .Form form footer.button-group{
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .Form .btn.savedraft, .Form .btn.preview{
        width: calc(50% - (1.25rem / 2));
    }
    .Form .btn.post{
        width: 100%;
    }
}
@media (max-width: 480px) {
    .Form{
        padding-inline: 3.5rem;
    }
}
@media (max-width: 440px) {
    .Form{
        padding-inline: 3rem;
    }
}
@media (max-width: 360px) {
    .Form{
        padding-inline: 2.5rem;
    }
}
@media (max-width: 348px) {
    .Form form footer.button-group{
        flex-direction: column;
    }
    .Form .btn:not(.btn.okay){
        width: 100% !important;
    }
}

/* © 2025 Pitipat Pattamawilai. All Rights Reserved. */