.Login{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
}
.Login .bg{
    border: 1px solid rgba(170,170,170,0.5);
    width: 70vw;
    max-width: 425px;
    border-radius: 0.5rem;
    padding: 0.5rem 0.25rem;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    background-color: var(--neutral-color-medium);
}
.Login h2{
    font-weight: 700;
    text-align: center;
    margin: 2rem 0;
    color: var(--accent-color);
}
.Login form{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 65vw;
    max-width: 400px;
    margin: 1rem auto;
    padding: 0rem 2rem;
}
.Login form>div:not(div.sign-up){
    margin: 0rem 0 1.5rem;
    display: flex;
    flex-direction: column;
}
.Login form label{
    margin-bottom: 0.5rem;
    user-select: none;
    color: var(--neutral-color-dark);
    opacity: 0.7;
    display: flex;
}
.Login form input{
    font-size: 1.1rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--neutral-color-heavy);
    border-radius: 0.25rem;
    outline: none;
    background: linear-gradient(to bottom, #fff, var(--neutral-color-light));
    width: 55vw;
    max-width: 100%; /* Prevent input from exceeding container width */ 
}
.Login form .btn{
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    width: 80px;
    border-radius: 0.25rem;
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
    color: var(--neutral-color-light);
    opacity: 0.9;
    padding: 0.5rem;
    margin: 0.5rem 0;
    user-select: none;
}
.Login form .btn:hover{
    font-weight: 500;
    opacity: 1;
}
.Login .sign-up{
    margin: 1rem 0 2rem;
    display: flex;
    justify-content: center;
}
.Login .sign-up p{
    opacity: 0.7;
}
.Login .sign-up a{
    color: #463f3a;
    font-weight: 600;
    cursor: pointer;
}

/* Show error messages */
.Login form div small{
    visibility: hidden;
}
.Login form div.showError small{
    color: red;
    visibility: visible;
    margin-top: 0.1rem;    
}
.Login form div.showError input{
    border: 1px solid red;
}

/* Show and hide password */
.Login .bg form .password-frame{
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    position: relative;
}
.Login .bg form .password-frame .password-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0rem;
    padding: 0 1rem 0 0.75rem;
    height: 100%;
    transform: translate(0, -50%);
    cursor: pointer;
}
.Login .bg form .password-frame .password-icon svg{
    font-size: 1.1rem;
    color: var(--accent-color);
    opacity: 0.7;
}
.Login .bg form .password-frame .password-icon:hover svg{
    opacity: 1;
}
.Login .bg form #password{
    padding-right: calc(1rem + 1.1rem + 0.75rem);
}
.Login .bg form div.sign-up{
    user-select: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    .Login{
        min-height: 100vh;
    }
    .Login .bg{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding-block: 3rem;
    }
    .Login h2{
        margin: 0;
    }
    .Login form{
        margin: 0;
    }
    .Login .sign-up{
        margin-bottom: 0;
    }
}
@media (max-width: 608px) {
    .Login form{
        padding-inline: 2.25rem;
        width: 100%;
    }
    .Login form input{
        width: 100%;
    }
    .Login .bg form .password-frame{
        width: 100%;
    }
}
@media (max-width: 516px) {
    .Login .bg{
        width: 75vw;
    }
    .Login form{
        padding-inline: 2rem;
    }
}
@media (max-width: 436px) {
    .Login .bg{
        width: 80vw;
    }
}
@media (max-width: 389px) {
    .Login .sign-up{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
@media (max-width: 376px) {
    .Login .bg{
        width: 85vw;
    }
    .Login form{
        padding-inline: 1.5rem;
    }
}

/* © 2025 Pitipat Pattamawilai. All Rights Reserved. */