.Login{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
}
.Login .bg{
    border: 1px solid rgba(170,170,170,0.5);
    width: 70vw;
    max-width: 425px;
    border-radius: 0.5rem;
    padding: 0.5rem 0.25rem;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    background-color: #f1f1f1;
}
.Login h2{
    font-weight: 700;
    text-align: center;
    margin: 2rem 0; /*40px*/
}
.Login form{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 65vw;
    max-width: 400px;
    margin: 1rem auto;
    padding: 0rem 2rem;
}
.Login form>div:not(div.sign-up){
    margin: 0rem 0 1.5rem;
    display: flex;
    flex-direction: column;
}
.Login form label{
    margin-bottom: 0.5rem;
    user-select: none;
}
.Login form input{
    font-size: 1.1rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid #aaaaaa;
    border-radius: 0.25rem;
    outline: none;
    /* background-color: #fff; */
    background: linear-gradient(to bottom, #fff, #fafafa);
    width: 55vw;
    max-width: 100%; /* ensure input will not be longer than its container */ 
}
.Login .btn{
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    width: 80px;
    border-radius: 0.25rem;
    border: 1px solid #463f3a;
    background-color: #8a817c;
    color: #fff;
    padding: 0.5rem;
    margin: 0.5rem 0;
    user-select: none;
}
.Login .btn:hover{
    background-color: #463f3a;
    font-weight: 500;
    border: 1px solid #463f3a;
}
.Login form label{
    opacity: 0.7;
    display: flex;
}
.Login .sign-up{
    margin: 1rem 0 2rem;
    display: flex;
    justify-content: center;
}
.Login .sign-up p{
    opacity: 0.7;
}
.Login .sign-up a{
    color: #463f3a;
    font-weight: 600;
    cursor: pointer;
}

/* show error message */
.Login form div small{
    visibility: hidden;
}
.Login form div.showError small{
    color: red;
    visibility: visible;
    margin-top: 0.1rem;    
}
.Login form div.showError input{
    border: 1px solid red;
}

/* Show and Hide password */
.Login .bg form .password-frame{
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    position: relative;
}
.Login .bg form .password-frame .password-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
}
.Login .bg form .password-frame .password-icon svg{
    font-size: 1.1rem;
    color: #5e503f;
    z-index: 10;
}
.Login .bg form #password{
    padding-right: calc(1rem + 1.1rem + 0.5rem);
}
.Login .bg form div.sign-up{
    user-select: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    .Login .bg{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .Login{
        min-height: calc(100vh - 20px);
    }
}
@media (max-width: 480px) {
    .Login .bg{
        width: 80vw;
    }
    .Login form{
        padding: 0rem;
    }
    .Login form input{
        width: 100%;
    }
    .Login .bg form .password-frame{
        width: 100%;
    }
}
@media (max-width: 370px) {
    .Login .bg{
        width: 85vw;
    }
    .Login form{
        margin: 1rem;
        width: fit-content;
    }
    .Login .sign-up{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

/* © 2025 Pitipat Pattamawilai. All Rights Reserved. */