.ModalComment .modal{
    background: rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 1000;
}
.ModalComment .confirm-container{
    background: #e8e8e8;
    width: 75vw;
    max-width: 500px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-80%);
    padding: 1rem;
}
/* Icon */
.ModalComment .trash-background{
    background: #fafafa;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.ModalComment .trash-background svg{
    color: #463f3a;
    transform: scale(0.95);
    font-size: 1.5rem;
    opacity: 0.8;
}
.ModalComment .confirm-container h1{
    font-size: 1.5rem;
}
.ModalComment .confirm-container p{
    margin: 0.5rem 0 1.5rem;
    text-align: center;
}
.ModalComment .confirm-container .button-container{
    width: 50%;
    max-width: 148px;
    display: flex;
    justify-content: space-between;
}
.ModalComment .button-container button{
    font-size: 1rem;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.ModalComment .button-container button:hover{
    opacity: 0.75;
}
.ModalComment .button-container .delete-button{
    background: #463f3a;
    color: #fafafa;
}
.ModalComment .button-container .cancel-button{
    background: #fafafa;
}
.ModalComment .modal.active{
    pointer-events: all;
}

/* Responsive Design */
@media (max-width: 480px) {
    .ModalComment .confirm-container{
        width: 80vw;
    }
}
@media (max-width: 390px) {
    .ModalComment .confirm-container{
        width: 85vw;
    }
    .ModalComment .confirm-container .button-container{
        width: 75%;
    }
}