.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0 2.5rem 0;
}
.search-bar .container {
    position: relative;
    width: fit-content;
}
.search-bar input {
    font-size: 1.1rem;
    padding: 0.5rem 2.5rem 0.5rem 1.2rem;
    border: 1px solid var(--neutral-color-heavy);
    border-radius: 50px;
    outline: none;
    background: linear-gradient(to bottom, #fff, var(--neutral-color-light));
    width: 40vw;
}
.search-bar .search-icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translate(0,-50%);
    cursor: default;
    color: var(--secondary-color);
    font-size: 1.1rem;
}

@media (max-width: 768px) {
    .search-bar {
        padding-top: 0;
        padding-bottom: 1.5rem;
    }
    .search-bar input {
        width: 65vw;
    }
}
@media (min-width: 1280px) {
    .search-bar input {
        width: 30vw;
    }
}

/* © 2025 Pitipat Pattamawilai. All Rights Reserved. */
